.container{
    display: flex;
    gap: 40px;
}
.div{
    display: flex;
}
.card{
    width:200px;
    height: 200px;
    background-color: brown;
    text-align: center;
    font-weight: bold;
}
.card p {
    margin-top: 20px;
}
.card2{
    width:200px;
    height: 200px;
    background-color: rgb(9, 9, 158);
    text-align: center;
    font-weight: bold;
}
.card2 p {
    margin-top: 20px;
}
.card3{
    width:200px;
    height: 200px;
    background-color: rgb(34, 145, 66);
    text-align: center;
    font-weight: bold;
}
.card3 p {
    margin-top: 20px;
}